

/*colores */ 
:root {
  --celeste: #51B2D7;
  --morado: #4224C8;
  --rosado: #EA40B7;
  --pseudo-negro: #222222;
  --blanco-roto: #F5EEE9;
  --naranja-intenso: #E74925;
  --naranja-chill: #E5765E;
  --verde: #23C947;
  --azul-verdoso: #53B1C2;
  --morado-oscuro: #AE318C;
  --morado-oscurisimo: #7E2E8E;
  --rosado-desaturado: #C25390;

}

/*tipografías */ 

h1, h2, h3, h4, h5, h6 {
  margin: 0; 
  padding: 0;
  font-family: Arial, Helvetica, sans-serif !important;
}

h1 {
  font-size: 8rem !important; 
  font-weight: bolder !important;
  letter-spacing: -8px !important;
}

h2 {
  font-size: 6rem !important;
  font-weight: bolder !important;
  letter-spacing: -4px !important;
}

h3 {
  font-size: 2rem;
}

body, p {
  font-family: 'Rubik', sans-serif !important;
  font-size: 1rem;
  line-height: 1.5;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



/*css del splash */ 

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full-screen height */
  background-color: #6baed6; /* Replace with your desired background color */
}

.logo {
  width: 100px; /* Adjust size */
  animation: fade-in-out 2s ease-in-out infinite; /* Smooth animation */
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


